cached-property==1.5.2
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
coloredlogs==15.0
ConfigArgParse==1.2.3
deb-pkg-tools==8.3
executor==23.2
fasteners==0.16
flake8==3.8.4
Flask==1.1.2
Flask-BasicAuth==0.2.0
gevent==21.1.2
geventhttpclient==1.4.4
greenlet==1.0.0
humanfriendly==9.1
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
locust==1.4.2
MarkupSafe==1.1.1
mccabe==0.6.1
msgpack==1.0.2
pip-accel==0.43
pkg-resources==0.0.0
pkginfo==1.7.0
property-manager==3.0
psutil==5.8.0
py2deb==5.0
pycodestyle==2.6.0
pyflakes==2.2.0
pyzmq==21.0.2
requests==2.25.1
six==1.15.0
urllib3==1.26.2
verboselogs==1.7
Werkzeug==1.0.1
wheel==0.35.1
zope.event==4.5.0
zope.interface==5.2.0
